.container {
    width: 200px;
    min-width: 200px;
    height: 200px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.card {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
}

.task {
    background-color: #252525;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 5px 8px;
}